<% title "Your Challenges" %>

<div data-role="header" data-theme="b">
	<h2>Challenges</h2>
</div><!-- /header -->

<div class="ui-body ui-body-c">
  
	<ul data-role="listview" data-inset="true" data-filter="false" class="space-btm space-top">
  	<% @tasks.each do |task| %>
      <li>
        <%= link_to raw(task.name + ' <span>' + task.text + '</span>'), task %>
      </li>
    <% end %>
  	
  </ul>

  <%= link_to "Edit Tasks", tasks_path, "data-role" => "button", "data-icon" => "gear", "data-theme" => "a"  %>
        
</div><!-- /content -->
